<div class="container">
    <ul class="article-ul">
        <li><a href="https://www.instagram.com/the_scientist_mo/" target="_blank">instagram </a></li>
        <li><a href="https://twitter.com/faunfunc" target="_blank">tweeter / x.com</a></li>
        <li><a href="https://github.com/MohammedBundid" target="_blank">github</a></li>
        <li><a href="" target="_blank">linkedin</a></li>
    </ul>
</div>